* {
  margin: 0;
  padding: 0;
}
 
body {
  background-color: #eff1f2;
  font-family: sans-serif;
}
 
.content {
  grid-area: content;
}
 
.sidebar {
  grid-area: sidebar;
  background: linear-gradient(
    to right,
    rgba(200, 107, 142, 1),
    rgba(218, 105, 250, 1),
    rgba(110, 125, 253, 1)
  );
  justify-content: center;
}
 
.footer {
  grid-area: footer;
  background: white;
}
 
.container {
  font-size: 1.5em;
  width: 100%;
  height: 100;
  height: 100vh;
  display: grid;
  grid-template-areas: 'sidebar' 'content' 'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 130px 800px 250px;
}
 
.content,
.sidebar,
.footer {
  padding: 1em;
}
 
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
 
nav li {
  list-style: none;
  padding: 1em 0;
}
 
nav li a {
  color: white;
  font-weight: 700;
  opacity: 0.6;
  text-decoration: none;
  transition: 0.3s;
}
 
nav li a:hover {
  opacity: 1;
}
 
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10pxpx; /* Sesuaikan jarak antara header dan konten */
    marg
}

.hero-info {
    flex: 1;
    padding-right: 20px; /* Sesuaikan jarak antara teks dan foto */
    margin-left: 20px;
}

.hero h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

.hero p {
    font-weight: 300;
    color: #98abad;
    margin-bottom: 10px;
}

.hero img {
    width: 200px; /* Sesuaikan ukuran foto dengan kebutuhan Anda */
}
 
.action-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background: #567bfb;
  padding: 0.5em 2em;
  border-radius: 60px;
  margin: 1em 0;
  transition: 0.3s;
}
 
footer ul {
  max-width: 640px;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
}
 
footer ul li {
  list-style: none;
  align-self: flex-end;
}
 
footer ul li a {
  text-decoration: none;
  color: #c1c6ce;
}
 
footer ul li img {
  width: 30%;
}
 
footer p {
  font-size: 0.8em;
}
 
@media (min-width: 1040px) {
  .container {
    grid-template-areas: 'sidebar content' 'sidebar footer';
    grid-template-rows: 1fr auto;
    grid-template-columns: 300px 1f;
  }
 
  nav ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
 
  .sidebar {
    background: linear-gradient(
      rgba(200, 107, 142, 1),
      rgba(218, 105, 250, 1),
      rgba(110, 125, 253, 1)
    );
    padding-top: 10em;
  }
 
  .hero {
    text-align: left;
    margin: 7em 0;
  }
 
  .hero img {
    width: 200px;
    float: right;
  }
 
  .hero h1 {
    font-size: 3em;
  }
 
  .hero p {
    width: 60%;
  }
 
  footer ul {
    max-width: 900px;
    margin: 0 auto;
    padding: 1em 0;
  }
 
  footer ul li a img {
    width: 20%;
  }
}
header img {
    width: 200px;
    height: auto;
}
.about {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left : 10px;
    margin-top: -5px;
}

.about h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    margin-left : 10px;
}

.about p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-left : 10px;
}
.contact {
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.contact h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
  margin-right: 20px;
}

.contact p {
  font-size: 16px;
  line-height: 1.5;
  color: #666;
  margin-bottom: 5px;
  margin-right: 20px;
}


.blog {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px; 
    margin-top: 30px;
}

.blog h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    margin-left: 10px;
}

.blog p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
    margin-left: 10px;
}

.portfolio {
    padding: 20px;
    background-color: #f8f8f8;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 20px; /* Menambahkan margin kiri untuk menggeser ke kanan */
    margin-right: 20px; /* Menambahkan margin kanan untuk menjaga jarak */
}

.portfolio h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
    margin-right: 10px;
}

.portfolio .project {
    margin-bottom: 20px;
    margin-right: 10px;
}

.portfolio .project h3 {
    font-size: 20px;
    color: #555;
    margin-bottom: 5px;
    margin-right: 10px;
}

.portfolio .project p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
    margin-bottom: 10px;
    margin-right: 10px;
}

.portfolio .project img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-right: 10px;
}

.project img {
    width: 900px; /* Sesuaikan ukuran lebar sesuai kebutuhan */
    height: 900px; /* Mengatur tinggi gambar secara otomatis agar proporsional */
}

.blog img{
    width: 900px; /* Sesuaikan ukuran lebar sesuai kebutuhan */
    height: 450px;
    margin-left: 10px
}